<h1>All Tax Entries</h1>


<table class="table table-hover listing" summary="User list">
  <tr class="header">
    <th>Tax ID</th>
    <th>Account Number</th>
    <th>Account Name</th>
    <th>Account Balance</th>
    <th>Interest Rate</th>
    <th>Interest Amount</th>
    <th>Period</th>
    <th>Tax Rate</th>
    <th>Tax Amount</th>
    <th>Info</th>
  </tr>
  <% @taxes.each do |tax| %>
    <% if tax.interest.debit_interest > 0 %>
      <% next %>
    <% end %>
    <tr>
      <td><%= tax.id %></td>
      <td><%= link_to tax.interest.account.account_number, :controller => "account", :action => "show", :id => tax.interest.account.id %></td>
      <td><%= tax.interest.account.account_name %></td>
      <td><%= number_to_currency(tax.interest.account_balance) %></td>
      <td><%= tax.interest.interest_rate %></td>
      <td><%= tax.interest.debit_interest == 0 ? number_to_currency(tax.interest.credit_interest) : "-#{number_to_currency(tax.interest.debit_interest)}" %></td>
      <td><%= "#{tax.interest.date_start} to #{tax.interest.date_end}" %></td>
      <td><%= tax.tax_rate %></td>
      <td><%= number_to_currency(tax.tax_amount) %></td>
      
      <td class="actions"> 
          <%= link_to "Details", :controller => "audit", :action => 'detail', :id => tax.interest.id %>
      </td>
    </tr>
  <% end %>
</table>

<br>
