<p id="notice"><%= notice %></p>

<h1>Users</h1>

<table class="table table-hover listing" summary="User list">
  <tr class="header">
    <th>ID</th>
    <th>Username</th>
    <th>Email</th>
    <th>Start Date</th>
    <th>Actions</th>
  </tr>
  <% @users.each do |user| %>
    <tr>
      <td><%= user.id %></td>
      <td><%= user.username %></td>
      <td><%= user.email %></td>
      <td><%= user.created_at %></td>
      <td class="actions"> 
        <%= link_to("Show", {:action => 'show', :id => user.id}, :class => 'action') %>
        <%= link_to("New", {:action => 'new'}, :class => 'action new') %>
        <%= link_to("Edit", {:action => 'edit', :id => user.id}, :class => 'action edit') %> 
        <%= link_to("Delete", '', :class => 'action delete') %> 
      </td>
    </tr>
  <% end %>
</table>

<br>
