<%= link_to("<< Back to list",  {:action => 'index'}, :class => 'back-link') %>

<div class="user new">
	<h2>Update User</h2>

	<%= form_for(:user, :url => {:action => 'create'}) do |f| %>
		<table summary="User form fields">
			<tr>
				<th>Username</th>
				<th><%= f.text_field(:username) %></th>
			</tr>
			<tr>
				<th>Email</th>
				<th><%= f.email_field(:email) %></th>
			</tr>
		    <tr>
		      <th colspan="2">&nbsp;</th>
		    </tr>
		</table>
		<div class="form-buttons">
			<%= submit_tag("Create user") %>
		</div>
	<% end %>
</div>