
<div class="users show">
  <h2>Show User</h2>

  <table summary="User detail view">
  	<tr>
  		<th>Username</th>
  		<td><%= @user.username %></td>
  	</tr>
  	<tr>
  		<th>Email </th>
  		<td><%= @user.email%></td>
  	</tr>
  	<tr>
  		<th>Created At &nbsp;&nbsp;&nbsp;</th>
  		<td><%= @user.created_at %></td>
  	</tr>
    <tr>
      <th colspan="2">&nbsp;</th>
    </tr>
  	<tr>
  		<th colspan="2">
        <%= link_to("Edit", '', :class => 'action edit') %> |
        <%= link_to("Delete", '', :class => 'action delete') %> 
  		</td>
  	</tr>
  </table>
</div>