<h1>All Interest Entries</h1>


<table class="table table-hover listing" summary="User list">
  <tr class="header">
    <th>Interest ID</th>
    <th>Account Number</th>
    <th>Account Name</th>
    <th>Last Balance</th>
    <th>Interest Rate</th>
    <th>Interest Amount</th>
    <th>Period</th>
    <th>Info</th>
  </tr>
  <% @interest.each do |interest| %>
    <tr>
      <td><%= interest.id %></td>
      <td><%= link_to interest.account.account_number, :controller => "account", :action => "show", :id => interest.account.id %></td>
      <td><%= interest.account.account_name %></td>
      <td><%= number_to_currency(interest.account_balance) %></td>
      <td><%= interest.interest_rate %></td>
      <td><%= interest.debit_interest == 0 ? number_to_currency(interest.credit_interest) : "#{number_to_currency(interest.debit_interest)}" %></td>
      <td><%= "#{interest.date_start} to #{interest.date_end}" %></td>
      
      <td class="actions"> 
          <%= link_to "Details", :controller => "audit", :action => 'detail', :id => interest.id %>
      </td>
    </tr>
  <% end %>
</table>

<br>