<div class="interests show">
  <h2>Interest info</h2>

  <table class="table table-bordered">
  	<tr>
  		<th>Interest ID</th>
  		<td><%= @interest.id %></td>
  	</tr>
  	<tr>
  		<th>Account ID</th>
  		<td><%= @interest.account_id%></td>
  	</tr>
    <tr>
		<th>Debit Interest</th>
		<td><%= number_to_currency(@interest.debit_interest) %></td>
    </tr>
    <tr>
      <th>Credit Interest</th>
      <td><%= number_to_currency(@interest.credit_interest) %></td>
    </tr>
    <tr>
      <th>Interest Rate</th>
      <td><%= @interest.interest_rate %></td>
    </tr>
    <tr>
      <th>Last Balance</th>
      <td><%= number_to_currency(@interest.account_balance) %></td>
    </tr>
    <tr>
      <th>Date Start</th>
      <td><%= @interest.date_start %></td>
    </tr>
    <tr>
      <th>Date End</th>
      <td><%= @interest.date_end %></td>
    </tr>
  </table>

  <h2>Tax Info</h2>
</div>
