<p id="notice"><%= notice %></p>

<h1>Bank Account</h1>

<%= link_to "Create a new account", account_new_path, :class => 'action new'  %>

<table class="table">
  <thead>
    <tr>
      <th>Account Number</th>
      <th>Account Name</th>
      <th>Working Balance</th>
      <th>Actual Balance</th>
      <th>Actions</th>
    </tr>
  </thead>

  <tbody>
    <% @all_accounts.each do |account| %>
      <tr>
        <td><%= account.id %></td>
        <td><%= account.account_name %></td>
        <td><%= account.working_balance %></td>
        <td><%= account.actual_balance %></td>
        <td class="actions"> 
          <%= link_to("Show", {:action => 'show', :id => account.id}, :class => 'action') %>
          <% if current_user.role == 'staff' %>
            <%= link_to("Edit", {:action => 'edit', :id => account.id}, :class => 'action edit') %>
          <% end %> 
        </td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>