<%= link_to("<< Back to list",  {:action => 'index'}, :class => 'back-link') %>

<div class="account edit">
	<h2>Update Account</h2>

	<%= form_for(:account, :url => {:controller => 'account', :action => 'update', :id => @account.id}) do |f| %>
		<table summary="Account form fields">
			<tr>
				<th>Account Name</th>
				<th><%= f.text_field(:account_name) %></th>
			</tr>
			<tr>
				<th>Account Type</th>
				<th><%= f.select(:account_type, Account.account_types.keys) %></th>
			</tr>
		    <tr>
		      <th colspan="2">&nbsp;</th>
		    </tr>
<!--		  	<tr>
		  		<th colspan="2">
		        <%= link_to("Edit", '', :class => 'action edit') %> |
		        <%= link_to("Delete", '', :class => 'action delete') %> 
		  		</td>
		  	</tr>
-->
		</table>
		<div class="form-buttons">
			<%= submit_tag("Update account") %>
		</div>
	<% end %>
</div>

