<%= link_to("<< Back to list",  {:action => 'index'}, :class => 'back-link') %>

<div class="account new">
	<h2>Create a new bank account</h2>

	<%= form_for(:account, :url => {:action => 'create'}) do |f| %>
		<table summary="Account form fields">
			<tr>
				<th>Account Name</th>
				<th><%= f.text_field(:account_name) %></th>
			</tr>
			<tr>
				<th>Account Type</th>
				<th><%= f.select(:account_type, Account.account_types.keys) %></th>
			</tr>
<!-- 			<tr>
				<th>Working Balance</th>
				<th><%= f.text_field(:working_balance) %></th>
			</tr>
			<tr>
				<th>Actual Balance</th>
				<th><%= f.text_field(:actual_balance) %></th>
			</tr> -->
		    <tr>
		      <th colspan="2">&nbsp;</th>
		    </tr>
		</table>
		<div class="form-buttons">
			<%= submit_tag("Create account") %>
		</div>
	<% end %>
</div>