<div class="users show">
  <h2>Account User</h2>

  <table summary="Account detail view">
  	<tr>
  		<th>Account Number</th>
  		<td><%= @account.id %></td>
  	</tr>
  	<tr>
  		<th>Account Holder </th>
  		<td><%= @account.account_name%></td>
  	</tr>
    <tr>
      <th>Account type</th>
      <td><%= @account.account_type %></td>
    </tr>
    <tr>
      <th>Working Balance</th>
      <td><%= number_to_currency(@account.working_balance) %></td>
    </tr>
    <tr>
      <th>Actual Balance</th>
      <td><%= number_to_currency(@account.actual_balance) %></td>
    </tr>
    <tr>
      <th colspan="2">&nbsp;</th>
    </tr>
    <% if current_user.role == 'staff' %>
    	<tr>
    		<th colspan="2">
          <%= link_to("Edit", '', :class => 'action edit') %> |
          <%= link_to("Delete", '', :class => 'action delete') %> 
    		</td>
    	</tr>
    <% end %>
  </table>

  <% if current_user.role != 'officer' %>
    <h2>Transaction History</h2>
    <table class="table table-hover listing">
      <tr class="header">
        <th>Transaction ID</th>
        <th>Accounts</th>
        <th>Amount</th>
        <th>Date</th>
        <th>Authorised</th>
      </tr>
      <% @transactions.each do |transaction| %>
        <tr>
          <td><%= transaction.id %></td>
          <td><%= "From #{transaction.debit_account} To #{transaction.credit_account}" %></td>
          <td><%= number_to_currency(transaction.credit_amount) %></td>
          <td><%= transaction.created_at %></td>
          <td><%= transaction.status %></td>
        </tr>
      <% end %>
    </table>
  <% end %>

  <% if current_user.role == 'officer' %>
    <h2> Tax History </h2>
    <table class="table table-hover listing">
      <tr class="header">
        <th>Tax ID</th>
        <th>Last Balance</th>
        <th>Interest Rate</th>
        <th>Interest Amount</th>
        <th>Period</th>
        <th>Tax Rate</th>
        <th>Tax Amount</th>
        <th>Info</th>
      </tr>
      <% @account.interests.each do |interest| %>
        <tr>
          <td><%= interest.id %></td>
          <td><%= number_to_currency(interest.account_balance) %></td>
          <td><%= interest.interest_rate %></td>
          <td><%= interest.debit_interest == 0 ? number_to_currency(interest.credit_interest) : "-#{number_to_currency(interest.debit_interest)}" %></td>
          <td><%= "#{interest.date_start} to #{interest.date_end}" %></td>
          <td><%= interest.tax.nil? ? "--" : interest.tax.tax_rate %></td>
          <td><%= interest.tax.nil? ? "--" : number_to_currency(interest.tax.tax_amount) %></td>
          <td><%= interest.tax.nil? ? "--" : "Inspected by #{interest.tax.audited_by_name} on #{interest.tax.last_audited}"%></td>
        </tr>
      <% end %>
  </table>

  <% end %>

</div>