<%= form_for(transaction) do |f| %>
  <% if transaction.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(transaction.errors.count, "error") %> prohibited this transaction from being saved:</h2>

      <ul>
      <% transaction.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <p id="notice"><%= notice %></p>
  
  <div class="field">
    <%= f.label :debit_account %>
    <%= f.text_field :debit_account %>
  </div>

  <div class="field">
    <%= f.label :debit_amount %>
    <%= f.text_field :debit_amount %>
  </div>

  <div class="field">
    <%= f.label :transaction_type %>
    <%= f.text_field :transaction_type %>
  </div>

  <div class="field">
    <%= f.label :credit_account %>
    <%= f.text_field :credit_account %>
  </div>
<!--
  <div class="field">
    <%= f.label :credit_amount %>
    <%= f.text_field :credit_amount %>
  </div>
-->
  <div class="field">
    <%= f.label :effective_date %>
    <%= f.text_field :effective_date %>
  </div>
<!--
  <div class="field">
    <%= f.label :status %>
    <%= f.text_field :status %>
  </div>

  <div class="field">
    <%= f.label :created_by %>
    <%= f.text_field :created_by %>
  </div>

  <div class="field">
    <%= f.label :authorised_by %>
    <%= f.text_field :authorised_by %>
  </div>

  <div class="field">
    <%= f.label :created_at %>
    <%= f.text_field :created_at %>
  </div>

  <div class="field">
    <%= f.label :authorised_date %>
    <%= f.text_field :authorised_date %>
  </div>
-->
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
