<%#= form_for(@transaction) do |f| %>
<%= form_for(:transaction, :url => {:controller => 'transactions', :action => 'authorise', :id => @transaction.id}) do |f| %>
  <% if @transaction.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(transaction.errors.count, "error") %> prohibited this transaction from being saved:</h2>

      <ul>
      <% transaction.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <p id="notice"><%= notice %></p>
  <p>
  <strong>Debit Account:</strong>
    <%= f.text_field :debit_account, disabled: true %>
    <%= hidden_field_tag :debit_account, @transaction.debit_account %>
  </p>

  <p>
    <strong>Debit Amount:</strong>
    <%= f.text_field :debit_amount, disabled: true %>
  </p>

  <p>
    <strong>Transaction Type:</strong>
    <%= f.text_field :transaction_type, disabled: true %>
  </p>

  <p>
    <strong>Credit Account:</strong>
    <%= f.text_field :credit_account, disabled: true %>
  </p>

  <p>
    <strong>Credit Amount:</strong>
    <%= f.text_field :credit_amount, disabled: true %>
  </p>

  <p>
    <strong>Effective Date:</strong>
    <%= f.text_field :effective_date, disabled: true %>
  </p>

  <p>
    <strong>Record status:</strong>
    <%= f.text_field :status, disabled: true %>
    <%= hidden_field_tag :status, @transaction.status %>
  </p>

  <p>
    <strong>Authorised By:</strong>
    <%= f.text_field :authorised_by, disabled: true %>
    <%= hidden_field_tag :authorised_by, @transaction.authorised_by %>
  </p>

  <p>
    <strong>Authorised Date:</strong>
    <%= f.text_field :authorised_date, disabled: true %>
    <%= hidden_field_tag :authorised_date, @transaction.authorised_date %>
  </p>

  <p class="actions">
    <%= submit_tag("Authorise transaction") %>
  </p>
<% end %>

<%= link_to 'Edit', edit_transaction_path(@transaction) %> |
<%= link_to 'Back', transactions_path %>
