<h2>Cash Withdrawal</h2>

<%= form_for(:transaction, :url => {:controller => 'transactions', :action => 'withdraw'}) do |f| %>
  <% if @transaction.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@transaction.errors.count, "error") %> prohibited this transaction from being saved:</h2>

      <ul>
      <% @transaction.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <p id="notice"><%= notice %></p>
  <p>
  <strong>Debit Account:</strong>
    <%= f.text_field :debit_account %>
  </p>

  <p>
  <strong>Debit Amount:</strong>
    <%= f.text_field :debit_amount %>
  </p>

  <p class="actions">
    <%= submit_tag("Withdraw") %>
  </p>
<% end %>

<%= link_to 'Back', transactions_path %>