<p id="notice"><%= notice %></p>

<h1>Transactions</h1>

<% if current_user.role == "customer" %>
  <%= link_to 'Fund Transfer', transactions_fund_transfer_new_path %> | <%= link_to 'Paybill', transactions_paybill_new_path %>
  <br>
<% else %>
  <%= link_to 'Unauthorised transactions', unau_transactions_path %> | <%= link_to 'Cash Deposit', transactions_cash_deposit_new_path %> | <%= link_to 'Cash Withdraw', transactions_cash_withdraw_new_path %> | <%= link_to 'Income', transactions_income_new_path %> | <%= link_to 'Expenses', transactions_expenses_new_path %> 
  <br>
  <%#= link_to 'New Transaction', new_transaction_path %>
<% end %>

<table class="table">
  <thead>
    <tr>

      <th>Txn No.</th>
      <th>Debit Account</th>
      <th>Credit Account</th>
      <th>Txn Amount</th>
      <th>Effective Date</th>
      <th colspan="4"></th>

    </tr>
  </thead>

  <tbody>
    <% @transactions.each do |transaction| %>
      <tr>

        <td><%= transaction.id %></td>
        <td><%= transaction.debit_account %></td>
        <td><%= transaction.credit_account %></td>
        <td><%= transaction.credit_amount %></td>
        <td><%= transaction.effective_date %></td>

        <td><%= link_to 'Show', transaction %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

