<%= form_for(:transaction, :url => {:controller => 'transactions', :action => 'pay'}) do |f| %>
  <% if @transaction.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(transaction.errors.count, "error") %> prohibited this transaction from being saved:</h2>

      <ul>
      <% transaction.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <p id="notice"><%= notice %></p>
  <p>
  <strong>Debit Account:</strong>
    <%= f.text_field :debit_account %>
  </p>

  <p>
  <strong>Debit Amount:</strong>
    <%= f.text_field :debit_amount %>
    <%#= f.text_field :credit_account %>
  </p>

  <p>
    <strong>Payee Account:</strong>
    <%= f.text_field :external_ref %>
  </p>
  <%#x= f.hidden_field :credit_account, value: 6 %>
  <%= hidden_field_tag :trasaction_type, value: 0 %>

  <p class="actions">
    <%= submit_tag("Transfer") %>
  </p>
<% end %>

<%= link_to 'Back', transactions_path %>