<p id="notice"><%= notice %></p>

<p>
  <strong>Debit Account:</strong>
  <%= @transaction.debit_account %>
</p>

<p>
  <strong>Credit Account:</strong>
  <%= @transaction.credit_account %>
</p>

<p>
  <strong>External Reference:</strong>
  <%= @transaction.external_ref %>
</p>

<p>
<strong>Debit Amount:</strong>
  <%= @transaction.debit_amount %>
</p>

<p>
  <strong>Credit Amount:</strong>
  <%= @transaction.credit_amount %>

  <strong>Transaction Amount:</strong>
  <%= @transaction.credit_amount %>
</p>

<p>
  <strong>Effective Date:</strong>
  <%= @transaction.effective_date %>
</p>

<p>
  <strong>Record status:</strong>
  <%= @transaction.status %>

</p>
<% if @transaction.status != 'Auth' %>
  <%= link_to 'Edit', edit_transaction_path(@transaction) %>
<% end %>
<%= link_to 'Back', transactions_path %>
