<p id="notice"><%= notice %></p>

<h1>Unauthorised Transactions</h1>


<%= link_to 'Unauthorised transactions', unau_transactions_path %> | <%= link_to 'Cash Deposit', transactions_cash_deposit_new_path %> | <%= link_to 'Cash Withdraw', transactions_cash_withdraw_new_path %> | <%= link_to 'Income', transactions_income_new_path %> | <%= link_to 'Expenses', transactions_expenses_new_path %> 
<br>
<%#= link_to 'New Transaction', new_transaction_path %>

<table class="table table-striped">
  <thead>
    <tr>

      <th>Txn No.</th>
      <th>Debit Account</th>
      <th>Credit Account</th>
      <th>Txn Amount</th>
      <th>Effective Date</th>
      <th colspan="3"></th>

    </tr>
  </thead>

  <tbody>
    <% @transactions.each do |transaction| %>
      <tr>

        <td><%= transaction.id %></td>
        <td><%= transaction.debit_account %></td>
        <td><%= transaction.credit_account %></td>
        <td><%= transaction.credit_amount %></td>
        <td><%= transaction.effective_date %></td>

        <td><%= link_to 'Edit', edit_transaction_path(transaction) %></td>
        <td><%= link_to 'Authorise', auth_path(transaction) %></td>
        <td><%= link_to 'Destroy', transaction, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Transaction', new_transaction_path %>
