<footer class="footer">
  <small>
    
    
  </small>
  <nav>
    <ul>
      <li><%= link_to "About", about_path %></li>      
	  <li><%= link_to "Contact", contact_path %></li>
      <li><%= link_to "News", news_path %></li>
      <li>
      	<% if admin_signed_in? %>
      		<%= link_to "Admin", edit_admin_registration_path %>
      	<% else %>
      		<%= link_to "Admin Login", new_admin_session_path %>
      	<% end %>
      </li>
    </ul>
  </nav>
</footer>