<header class="navbar navbar-fixed-top navbar-inverse">
  <div class="container">
    <%= link_to "OMG Bank", '#', id: "logo" %>
    <nav>
      <ul class="nav navbar-nav navbar-right">
        <li><%= link_to "Home",   root_path %></li>
        <li><%= link_to "About",   about_path %></li>
        

        <% if user_signed_in? %>
          <!-- customer and staff -->
          <% if current_user.role != 'officer' %>
            <li><%= link_to 'Account', account_path, :class => 'navbar-link'  %></li>
            <li><%= link_to 'All Account', account_all_path, :class => 'navbar-link'  %></li>
            <li><%= link_to "Transaction", transactions_path, :class => 'navbar-link' %></li>
          <% end %>
          
          <!-- staff's panel -->
          <% if current_user.role == 'staff' %>
            <li><%= link_to 'Interest Entries', interest_path, :class => 'navbar-link' %></li>
          <% end %>

          <!-- officer's panel -->
          <% if current_user.role == 'officer' %>
            <li><%= link_to 'Audit', audit_index_path %></li>
          <% end %>

          <li><%= link_to current_user.username, edit_user_registration_path, :class => 'navbar-link' %></li>

          <li><%= link_to('Logout', destroy_user_session_path, :method => :delete) %></li>

        <% else %>
          <li><%= link_to 'Login', new_user_session_path %></li>
          <li><%= link_to "Register", new_user_registration_path, :class => 'navbar-link'  %></li>
        <% end %>
      </ul>
      
    </nav>
  </div>
</header>


