<!DOCTYPE html>
<html>
  <head>
    <title>Swen90007</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>

  </head>

  <body>
  	<%= render 'layouts/header' %>
  	<div class="container">
	    <%= yield %>


	    <br/>
	    <%= render 'layouts/footer' %>
    </div>
  </body>
</html>
